
.tudo {
    background-color: #fff;
    display: inline-block;
    width: 50%;
    margin-left: 25%;
  }

.c{
    display: flex;
    align-items: center; 
    margin-bottom: 35px;  
  }

.t{
    padding-bottom: 50px;
  }

.c > input[type="file"]{
    font-size: 11px;
  }
.botao>button {
  position: relative;
  width: 30%;
  height: 60px;
  background-color: #BCA0E8;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 30%;
  }