
.completo * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.completo {
    width: 100%;
    margin: -20px;
    background-color: #ffffff;
    display: flex;
  
}


.sidebar {
  width: 650px;
  background-color: #5EDD66;
  color: black;
  padding: 20px;
}

.profile-section {
  text-align: center;
  margin-bottom: 30px;
}

.foto_perfil {
  width: 130px;
  height: 130px;
  background-color: white;
  border-radius: 50%;
  margin: 10px auto;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 120px;
  display: block;
}

.profile-section h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

.profile-link {
  font-size: 25px;
  color: #c393f7;
  text-decoration: none;
  font-weight: bold;
}
.menu ul {
  list-style: none;
}
.menu li {
  margin: 20px 0;
}

.menu a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  display: block;
  margin-top: -1em;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid  rgb(221, 215, 215);
}
.menu  i{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  padding-left: .62em;
  padding-top: 13px;
  padding-bottom: 20px;
   margin-top: -1em;
}
.menu .sair {
  color: red;
}
.content {
  padding-left: 20px;
  width: 100%;
}
.info>label {
  color: rgb(90, 88, 88);
  margin-top: 1.5em;
  display: inline-block;
  font-size: 30px;
  font-weight:bold;
}
.info_user>label{
  color: black;
  display:block;
  margin-top: .3em;
  font-size: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid  rgb(221, 215, 215); 
}