
 
  /* Container principal */
form {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    color: #000000;
    width: 100%; /* Mantém o título no topo ocupando toda a largura */
    margin-bottom: 70px;
    margin-top: 0px;
  }
  
  /* Seção esquerda e direita do formulário */
  .lado_esquerdo, .lado_direito {
    width: 45%;
  }
  
  /* Estilo dos campos do formulário */
  label {
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
  }
  
  input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
    border-color: #000000;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
    resize: none;
  }
  
  /* Estilo do botão de upload */
  input[type="file"] {
    display: block;
    margin-top: 10px;
  }
  
  /* Estilo para opções "Disponível" */
  input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Botão de envio */
  button {
    width: 15%;
    background-color: #BCA0E8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #9e74e0;
  }
  
  /* Ajusta alinhamento de cada seção */
  .lado_esquerdo {
    align-items: flex-start;
  }
  
  .lado_direito {
    align-items: flex-end;
  }

  input[type="radio"] {
    margin-right: 5px;
  }
  
  label.inline {
    display: inline-block; /* Mantém os itens em linha */
    margin-right: 15px; /* Espaçamento entre as opções */
  }

  .campos{
    margin-top: 20px;
  }
  