body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative; 
    background: linear-gradient(270.61deg, #5EDD66 0.52%, #A0E59B 70.64%, #FFFFFF 90.72%);
}
.flex{
    display: flex;
}
.flex>*{
    /* width: 100%; */
    margin: 2em;
}
.login{
    margin: auto;
    padding-top: 30vh;
    padding-left: 300px;
    width: 60%;
}
.login>form{
    margin-top: 1em;
    margin-left: 600px;
    font-size: 2em;
}
.logo-quitroca {
    background-image: url(../img/logo-quitroca.png);
    width: 650px;
    height: 530px;
    background-size: 100% 100%; 
    background-position: center;
    position: absolute;
    left: 10em;
    top: 13vh;
}
.elipse-1 {
    position: absolute;
    width: 277.15px;
    height: 236.25px;
    top: -60px; 
    left: -100px; 
    border-radius: 50%; 
    transform: rotate(2.12deg);
    background: linear-gradient(180deg, #03F993 20.03%, #029357 120.03%);
}
.elipse-2 {
    position: absolute;
    width: 270.65px;
    height: 240.48px;
    bottom: -60px;
    right: -50px;
    border-radius: 50%;
    transform: rotate(10.12deg); 
    background: linear-gradient(180deg, #BCA0E8 0%, #695A82 100%);
}
.elipse-3{
    position: absolute;
    width: 105.16px;
    height: 92.97px;
    bottom: 50px;
    right:  1470px;
    border-radius: 50%;
    background: linear-gradient(180deg, #78A63C 34%, #2E4017 100%);
}
.botao-entrar {
    padding: .4em 1em;
    border-radius: 100px; 
    background: #b287f8a6;
    cursor: pointer; 
    color: black; 
    font-size: 20px; 
    font-weight: bold; 
    border: 2px solid #9860f3a6; 
    margin-top: 3em;
}
.botao-entrar:hover {
    background-color: #9860f3a6;
}
div {
    position: relative;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px 40px; /* Espaço à esquerda para o ícone */
    box-sizing: border-box; /* Inclui padding na largura total */
    height: 3em;
}

label, .fas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

label {
    left: 10px; /* Posição do ícone */
}

.fas {
    left: 10px; /* Posição do ícone dentro do campo */
    color: black;
    font-size: .7em;
}
form {
    text-align: center;

}
.campos{
    text-align: left;
    margin-bottom: 1em;
    width: 450px;
}
.campos>input{
    border-radius: 2em;
    padding-top: .3em;
    padding-bottom: .3em;
    width: 100% ;
    font-size: .5em;
   
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinha os itens à direita */
}
#olho{
    position: absolute;
    margin-left: -50px;
    margin-top: 9px;
    cursor: pointer;
}