{% extends "_master.html" %}
{% load static %}
{% block main %}

    <form method = "POST" action = "{% url "save_item" %}" enctype = "multipart/form-data">
      {% csrf_token %}
      <h1>Cadastro de Itens</h1>
      
        <div class = "lado_esquerdo">
          <div class = "campos">
      <label for="nome">NOME DO ITEM:</label>
      <input type="text" id="nome" name="nome" placeholder="Digite o nome do item" required>
    </div>
            
    <div class = "campos">
      <label for="descricao">DESCRIÇÃO:</label>
      <textarea id="descricao" name="descricao" placeholder="Digite a descrição do item"></textarea>
    </div>
  
    <div class = "campos">
      <label for="imagem">UPLOAD DE IMAGEM:</label>
      <input type="file" id="imagem" name="imagem">
    </div>
      </div> 
      <div class = "lado_direito">
        <div class = "campos">
      <label for="estado_de_uso">ESTADO DE USO:</label>
      <select id="estado_de_usoo" name="estado_de_uso">
        <option value=""disabled selected>Selecione uma opção</option>
        <option value="novo">NOVO</option>
        <option value="usado">USADO</option>
      </select>
    </div> 
      
      <div class = "campos">
      <label for="quantidade">QUANTIDADE:</label>
      <input type="text" id="quantidade" name="quantidade" placeholder="Digite a quantidade">
    </div> 


    <div class = "campos">
      <label>DISPONÍVEL:</label>
        <label class="inline">
        <input type="radio" id="sim" name="disponivel" value="sim" checked> SIM
        </label>
        <label class="inline">
        <input type="radio" id="nao" name="disponivel" value="nao"> NÃO
     </label>
    </div>

    <div class = "campos">
      <label for="validade">VALIDADE:</label>
      <input type="date" id="validade" name="validade">
    </div>

    <div class = "campos">
      <label for="campus_id">CAMPUS:</label>
      <select name="campus_id" id="campus_id" required>
        {% for c in campus %}
        <option value="{{c.id}}">{{c.campus}}</option>
        {% endfor %}
      </select>
    </div>

  
    <div class = "campos">
      <label for="marca">MARCA:</label>
      <input type="text" id="marca" name="marca" placeholder="Digite a marca do item" required>
    </div>
  
    </div>
    

      <button type="submit">Enviar</button>
    </form>

{% endblock  %}