{% extends "_master.html" %}
{% load static %}
{% block main %}
<div class="imagem">
    <div class="imagem2">
        <div class="imagem-icons">
            {% comment %} <img src="{% static "img/recipiente.png" %}" alt="icon.png"> {% endcomment %}
            <img src={{inv.imagem}}>
            {% comment %} <img src="{% static "img/recipiente.png" %}" alt="icon.png"> {% endcomment %}
            <img src={{inv.imagem}}>
        </div>




        {% comment %} <img src="{% static "img/recipiente.png" %}" alt="Copo Becker de Vidro" class = "img"> {% endcomment %}
        <img src={{inv.imagem}}>


    </div>


    <div class="quantidades">


        <div class="quantidades-troca">
            <p>QUANTIDADES PARA TROCAS</p>
            <span>{{inv.quantidade}}</span>
        </div>




        <div class="quantidades-disp">
            <p>QUANTIDADES DISPONÍVEIS</p>
            <span>{{inv.quantidade}}</span>
        </div>
    </div>




     
</div>
<div class="detalhes-produto">
    <h1>{{inv.nome}}</h1>
    <h1>250ml ({{inv.quantidade}}un)</h1>


    <div class="descricao-produto">
        <h3>Descrição do produto</h3>
        <div class= "texto">
        <p>{{inv.descricao}}</p>
        </div>
    </div>


    <div class="botoes">
        <button>Trocar</button>
        <button>Salvar</button>
        <button>Negociar</button>
    </div>




    <div class="informacoes-produto">
        <h3>Informações do produto</h3>
       <div class= "texto2">
        <p>MARCA: {{inv.marca}}</p>
        <p>ID: {{inv.id}}</p>
        <p>CAMPUS DE ORIGEM: {{inv.campus.campus}}</p>
        <p>ESTADO DE USO: {{inv.estado_de_uso}}</p>
       </div>
    </div>
</div>
{% endblock main %}