{% extends "_master.html" %}
{% load static %}
{% block main %}
<div class="imagem">
    <div class="imagem2">
        <div class="imagem-icons">
            {% comment %} <img src="{% static "img/recipiente.png" %}" alt="icon.png"> {% endcomment %}
            <img src={{inv.imagem}}>
            {% comment %} <img src="{% static "img/recipiente.png" %}" alt="icon.png"> {% endcomment %}
            <img src={{inv.imagem}}>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        </div>


        {% comment %} <img src="{% static "img/recipiente.png" %}" alt="Copo Becker de Vidro" class = "img"> {% endcomment %}
        <img src={{inv.imagem}}>

    </div>


    <div class="quantidades">


        <div class="quantidades-troca">
            <p>QUANTIDADES PARA TROCAS</p>
            <span>{{inv.quantidade}}</span>
        </div>




        <div class="quantidades-disp">
            <p>QUANTIDADES DISPONÍVEIS</p>
            <span id="qtd_disp">{{inv.quantidade}}</span>
        </div>
    </div>


     
</div>
<div class="detalhes-produto">
    <h1>{{inv.nome}}</h1>
    {% comment %} <h1>250ml ({{inv.quantidade}}un)</h1> {% endcomment %}
    <h1>({{inv.quantidade}}un)</h1>


    <div class="descricao-produto">
        <h3>Descrição do produto</h3>
        <div class= "texto">
        <p>{{inv.descricao}}</p>
        </div>
    </div>


<div class="botoes">
        {% comment %} <button>Trocar</button> {% endcomment %}
        <button>Salvar</button>
        {% comment %} <button>Negociar</button> {% endcomment %}
        <button onclick="abrirPopup()">Negociar</button>
        
    </div>




    <div class="informacoes-produto">
        <h3>Informações do produto</h3>
       <div class= "texto2">
        <p>MARCA: {{inv.marca}}</p>
        <p>ID: {{inv.id}}</p>
        <p>CAMPUS DE ORIGEM: {{inv.campus.campus}}</p>
        <p>ESTADO DE USO: {{inv.estado_de_uso}}</p>
       </div>
    </div>


    
</div>


<div id="popupNegociar" class="popup-container">
    <span class="close-btn" onclick="fecharPopup()">&times;</span>
    <form class="popup-content" method="POST" action="{% url "details" 1 %}" onsubmit="return confirmarNegociacao()">
        {% csrf_token %}
        <label for="quantidade">Quantas quantidades você deseja negociar?</label>
        <input type="number" id="quantidade" min="1" placeholder="Digite a quantidade" name="quantidade">
        <input type="hidden" id="item_id" min="1" placeholder="Digite a quantidade" name="item_id" value="{{inv.id}}">
       <input type="submit" value="Confirmar">
    </form>
</div>


<script>
    

    function abrirPopup() {
        document.getElementById("popupNegociar").style.display = "block";
    }

    function fecharPopup() {
        document.getElementById("popupNegociar").style.display = "none";
    }

    function confirmarNegociacao() {
        let quantidade = parseInt(document.getElementById("quantidade").value);
        let qtd_disp= parseInt(document.getElementById("qtd_disp").innerHTML);
        if (quantidade > qtd_disp) {
            alert("Por favor, insira uma quantidade válida.");
            return false;
        }
    }
</script>

{% endblock main %} 


