{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUI-TROCA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static "js/exibir_senha.js"%}" defer></script>
</head>
<body>
        
    <div class = "elipse-1"></div>
    <div class = "elipse-2"></div>
    <div class = "elipse-3"></div>
    <main class="flex login">
        <div class = "logo-quitroca"></div>
        <form action="{% url "admin:login" %}" method = "POST">
            {% csrf_token %}
            <div class = "campos">
                <label for="usuario"><i class="fas fa-user"></i></label>
                <input type="text" id="usuario" placeholder= "USUÁRIO" name = "username" autofocus>
            </div>
            <div class = "campos">
                <label for="senha"><i class="fas fa-lock"></i></label>
                <input type="password" id="senha" placeholder="SENHA" name = "password">
                <i class="fa-solid fa-eye" id= "olho" ></i>
            </div>
            
            <button class="botao-entrar" type="submit">ENTRAR</button>
        </form>
    </main>
</body>
</html>