{% extends "_master.html" %}
{% load static %}
{% block main %}
<div>
    <section>
        <h1>SELECIONE POR CATEGORIA</h1>
        <div class="categorias">
            <div class="categoria">
                <a href="{% url "categorias" "Vidarias" %}">
                <div class="img">

                    <img src="{% static "img/iconbecker.png" alt="Vidrarias" %}">
                </div>
                <p>Vidrarias</p>
            </a>
            </div>
            <div class="categoria">
                <a href="{% url "categorias" "Balancas" %}">
                <div class="img">
                    <img src="{% static "img/iconbecker.png" alt="Vidrarias" %}">
                </div>
                <p>Balanças</p>
            </a>
            </div>
            <div class="categoria">
                <a href="{% url "categorias" "Agitadores" %}">
                <div class="img">
                    <img src="{% static "img/iconbecker.png" alt="Vidrarias" %}">
                </div>
                <p>Agitadores</p>
            </a>
            </div>
            <div class="categoria">
                <a href="{% url "categorias" "Bombas" %}">
                <div class="img">
                    <img src="{% static "img/iconbecker.png" alt="Vidrarias" %}">
                </div>
                <p>Bombas</p>
            </a>
            </div>
            <div class="categoria">
                <a href="{% url "categorias" "Reagentes" %}">
                <div class="img">
                    <img src="{% static "img/iconbecker.png" alt="Vidrarias" %}">
                </div>
                <p>Reagentes</p>
            </a>
            </div>
            <div class="categoria">
                <a href="{% url "categorias" "Buretas" %}">
                <div class="img">
                    <img src="{% static "img/iconbecker.png" alt="Vidrarias" %}">
                </div>
                <p>Buretas</p>
            </a>
            </div>
            <div class="categoria">
                <a href="{% url "categorias" "Reagentes" %}">
                <div class="img">
                    <img src="{% static "img/iconbecker.png" alt="Vidrarias" %}">
                </div>
                <p>Reagentes</p>
            </a>
            </div>
            <div class="categoria">
                <a href="{% url "categorias" "Buretas" %}">
                <div class="img">
                    <img src="{% static "img/iconbecker.png" alt="Vidrarias" %}">
                </div>
                <p>Buretas</p>
            </a>
            </div>
           
        </div>
    </section>

    <section>
        <h2>SELECIONE POR CAMPUS</h2>
        <div class="campus-container">
            <div class="campus">
                <img src="{% static "img/campusc.png" alt="SantaCruz" %}">
                <span>Santa Cruz</span>
            </div>
                
            <div class="campus">
                <img src="{% static "img/campusc.png" alt="SantaCruz" %}">
                <span>Apodi</span>
            </div>
            <div class="campus">
                <img src="{% static "img/campusc.png" alt="SantaCruz" %}">
                <span>Parnamirim</span>
            </div>

            <div class="campus">
                <img src="{% static "img/campusc.png" alt="SantaCruz" %}">
                <span>Lajes<span>
            </div>
            
        </div>
    </section>

    <section>
        <h2>DISPONÍVEL POR CAMPUS</h2>
        <div class="itens-disponiveis">
                {% for item in listagem %}
                    <div class="item">
                        <a class="no-decoration" href="{% url "details" item.id %}">
                            <img src="{% static "img/becker.webp" %}" alt="Becker 250 ml">
                            <p>{{item.nome}}</p>
                            <p>Disponível: {{item.disponivel}}</p>
                        </a>
                    </div>
        {% endfor %}

        </div>
    </section>
</div>
{% endblock %}