{% extends "_master.html" %}
{% load static %}
{% block main %}
<div class="main-container">
    <section class="container">
        <h2>SELECIONE POR CATEGORIA</h2>
        <div class="scroll-wrapper">
           
            <div class="scroll-container categorias" id="categorias">
            {% for cat in categorias %}
            <div class="categoria">

                <a href="{% url "categorias" cat.id %}">
                <div class="img">

                    <img src="{% static "img/iconbecker.png" alt="cat.nome" %}">
                </div>
                <p>{{cat.nome}}</p>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
    </section>

    <section class="container">
        <h2>SELECIONE POR CAMPUS</h2>
        <div class="scroll-wrapper">
        
        <div class="scroll-container campus-container">
                {% for c in campus %} 
                <div class="campus">
                <img src="{% static "img/campusc.png" alt="SantaCruz" %}">
                <span>{{c.campus}}</span>
            </div>
    {% endfor %}
        </div>
    </div>
    </section>

    <section class="container">
        <h2>DISPONÍVEL POR CAMPUS</h2>
        <div class="itens-disponiveis">
                {% for item in listagem %}
                    <div class="item">
                        <a class="no-decoration" href="{% url "details" item.id %}">
                            <img src="{% static "img/becker.webp" %}" alt="Becker 250 ml">
                            <p>{{item.nome}}</p>
                            <p>Disponível: {{item.disponivel}}</p>
                        </a>
                    </div>
        {% endfor %}

        </div>
    </section>
</div>
{% endblock %}