{% extends "_master.html" %}
{% load static %}
{% block main %}

 
  <div class="completo">
    <aside class="sidebar">
      <div class="profile-section">
        
        <div class="foto_perfil">
          <i class="fa-solid fa-circle-user"></i>
        </div>
        
        <h2>{{usuario.first_name}}</h2>
        <a href="#" class="profile-link">Meu Perfil</a>
  </div>
     
      <nav class="menu">
        <ul>
          <li><a href="#"><i class="fa-solid fa-location-dot"></i> ITENS DO SEU CAMPUS</a></li>
          <li><a href="#"><i class="fa-solid fa-bookmark"></i> ITENS SALVOS</a>
            <ul class = "submenu">
              <li><a href="{% url "pag_troca" "salvos" %}">Salvos</a></li>
              <li><a href="{% url "pag_troca" "andamento" %}">Andamento</a></li>
              <li><a href="{% url "pag_troca" "pendentes" %}">Pendentes</a></li>
              <li><a href="{% url "pag_troca" "cancelados" %}">Cancelados</a></li>
            </ul>
          </li>
          <li><a href="{% url "save_item" %}"><i class="fa-solid fa-flask"></i> CADASTRO DE ITENS</a>
          </li>
          <li><a href="#" class="sair"><i class="fa-solid fa-right-from-bracket"></i> SAIR</a></li>
        </ul>
      </nav>
   
    </aside>
   
   <div class="content">
    {% if info == "salvos" %}
    <h2>SUA LISTA DE ITENS SALVOS </h2>
    {% elif  info == "andamento" %}
    <h2>SUA LISTA DE ITENS EM ANDAMENTO </h2>
   
    {% elif  info == "pendentes" %}
    <h2>SUA LISTA DE ITENS PENDENTES </h2>
    
    {% elif  info == "cancelados" %}
    <h2>SUA LISTA DE ITENS CANCELADOS </h2>
    {% endif %}
    {% for item in itens %}
    <div class="item">
        <a class="no-decoration" href="{% url "details" 3 %}">
            <img src="{% static "img/becker.webp" alt="Becker 250 ml" %}">
            <p>{{item.nome}}</p>
            <p>{{item.disponivel}}</p>
        </a>
    </div>
    {% endfor %}
     
   </div>
</div>
    
{% endblock  %}