{% extends "_master.html" %}
{% load static %}
{% block main %}

 
  <div class="completo">
    <aside class="sidebar">
      <div class="profile-section">
        
        <div class="foto_perfil">
          <i class="fa-solid fa-circle-user"></i>
        </div>
        
        <h2>{{usuario.first_name}}</h2>
        <a href="{% url "perfil" %}" class="profile-link">Meu Perfil</a>
  </div>
     
      <nav class="menu">
        <ul>
          <li><a href="{% url "pag_troca" "campus" %}"><i class="fa-solid fa-location-dot"></i> ITENS DO SEU CAMPUS</a></li>
          <li><a href="{% url "pag_troca" "salvo"%}"><i class="fa-solid fa-bookmark"></i> ITENS SALVOS</a></li>
          <li><a href="{% url "save_item" %}"><i class="fa-solid fa-flask"></i> CADASTRO DE ITENS</a></li>
          <li><a href="{% url 'logout' %}" class="sair"><i class="fa-solid fa-right-from-bracket"></i> SAIR</a></li>
        </ul>
      </nav>
   
    </aside>
   
   <div class="content">
        <div class="info">
          <label>Nome:</label>
        </div>




        <div class = "info_user">
          <label>{{usuario.first_name}}</label>
        </div>
       
        <div class="info">
        <label>Ingresso:</label>
        </div>




        <div class = "info_user">
          <label>{{inv.ingresso}}</label>
        </div>
       
        <div class="info">
        <label>Matrícula:</label>
        </div>




        <div class = "info_user">
          <label>{{inv.matricula}}</label>
        </div>
       
        <div class="info">
        <label>Email Acadêmico:</label>
        </div>
       
        <div class = "info_user">
          <label>{{usuario.email}}</label>
        </div>
       
        <div class="info">
        <label>Campus:</label>
        </div>




        <div class = "info_user">
        <label>{{inv.campus.campus}}</label>
        </div>




        <div class="info">
        <label>Status do usuário:</label>
        </div>
       
        <div class = "info_user">
          <label>{{inv.status}}</label>
        </div>
       
      </div>

    </div>
    
{% endblock  %}